name: Clojure CI - Unit and Integration Tests

on: [ push ]

jobs:
  test:
    name: Running Tests
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Install dependencies
        run: lein deps
      - name: Run unit and integration tests
        run: lein test
